In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
#Read the data set
data = pd.read_csv('ObesityDataSet.csv', delimiter=',')

sampledData = data

print(str(sampledData.shape[0])+' rows')
data.sample(5)

2111 rows

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
1635,Male,26.684354,1.819535,118.332689,yes,yes,1.975675,3.000000,Sometimes,no,2.357969,no,0.704236,0.010721,Sometimes,Public_Transportation,Obesity_Type_II
844,Female,21.687409,1.604697,68.016472,yes,yes,1.901611,3.266501,no,no,2.926995,no,0.985872,0.307982,Sometimes,Public_Transportation,Overweight_Level_I
370,Male,19.000000,1.800000,60.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
1674,Male,27.939820,1.694642,99.709329,yes,yes,2.772027,2.454432,Sometimes,no,1.000000,no,0.858554,0.051268,no,Public_Transportation,Obesity_Type_II
1576,Male,26.957645,1.780731,112.957922,yes,yes,2.263245,3.000000,Sometimes,no,2.092509,no,0.000000,1.836853,Sometimes,Automobile,Obesity_Type_II

In [17]:
# the column to analyze
column_name = 'NObeyesdad'  # Replace 'Your_Column_Name' with the actual column name

# Get the unique non-numerical values and their counts in the specified column
unique_values_count = sampledData[column_name].value_counts()

# Get the total number of unique non-numerical values
total_unique_values = unique_values_count.shape[0]

print(f"Total unique non-numerical values in '{column_name}': {total_unique_values}")
print("Value counts:")
print(unique_values_count)

Total unique non-numerical values in 'NObeyesdad': 7
Value counts:
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: NObeyesdad, dtype: int64

In [18]:

# the column to analyze
column_name = 'CAEC'  # Replace 'Your_Column_Name' with the actual column name

# Get the unique non-numerical values and their counts in the specified column
unique_values_count = sampledData[column_name].value_counts()

# Get the total number of unique non-numerical values
total_unique_values = unique_values_count.shape[0]

print(f"Total unique non-numerical values in '{column_name}': {total_unique_values}")
print("Value counts:")
print(unique_values_count)

Total unique non-numerical values in 'CAEC': 4
Value counts:
Sometimes     1765
Frequently     242
Always          53
no              51
Name: CAEC, dtype: int64

In [19]:
# Define a function to group the classes
def classify_overweight(weight_status):
    overweight_classes = [
        'Obesity_Type_I', 'Obesity_Type_II', 'Obesity_Type_III',
        'Overweight_Level_I', 'Overweight_Level_II'
    ]
    if weight_status in overweight_classes:
        return 'Overweight'
    else:
        return 'Not Overweight'

In [20]:
# Create a DataFrame from the data
df = pd.DataFrame(data)

In [21]:
# Apply the function to create a new column
df['Status'] = df['NObeyesdad'].apply(classify_overweight)
df.sample(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,Status
85,Male,23.000000,1.650000,58.500000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,0.000000,no,Public_Transportation,Normal_Weight,Not Overweight
966,Male,29.153907,1.773656,87.070234,no,yes,1.595746,3.618722,Sometimes,no,1.274389,no,1.504003,0.370067,no,Automobile,Overweight_Level_I,Overweight
661,Female,20.244359,1.559186,41.952805,no,yes,2.619835,1.000000,Frequently,no,1.198883,no,0.000000,0.751212,Sometimes,Public_Transportation,Insufficient_Weight,Not Overweight
1308,Male,23.000000,1.735659,93.429205,yes,yes,2.000000,3.000000,Sometimes,no,1.249307,no,0.973465,1.000000,no,Public_Transportation,Obesity_Type_I,Overweight
1650,Male,31.363470,1.869323,127.507411,yes,yes,2.939727,3.000000,Sometimes,yes,1.344122,no,0.923428,1.432336,Sometimes,Public_Transportation,Obesity_Type_II,Overweight
112,Female,18.000000,1.560000,51.000000,yes,yes,2.000000,4.000000,Frequently,no,2.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Not Overweight
1749,Male,26.778684,1.780089,113.154640,yes,yes,2.219186,3.000000,Sometimes,no,2.092326,no,0.545919,1.742880,Sometimes,Automobile,Obesity_Type_II,Overweight
361,Female,40.000000,1.560000,80.000000,yes,yes,2.000000,1.000000,Sometimes,no,2.000000,no,2.000000,0.000000,no,Public_Transportation,Obesity_Type_I,Overweight
1092,Male,22.188810,1.717722,81.929910,yes,yes,2.000000,1.152521,Sometimes,no,1.723159,no,1.390160,1.094941,Sometimes,Public_Transportation,Overweight_Level_II,Overweight
1180,Male,17.997009,1.742654,85.000000,yes,no,2.000000,3.000000,Sometimes,no,2.976229,no,1.000000,0.121992,Sometimes,Public_Transportation,Overweight_Level_II,Overweight
71,Female,22.000000,1.670000,50.000000,yes,no,3.000000,3.000000,no,no,3.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight,Not Overweight
1532,Male,22.705772,1.841989,122.024954,yes,yes,3.000000,2.527510,Sometimes,no,1.645338,no,1.025438,0.000000,Sometimes,Public_Transportation,Obesity_Type_II,Overweight
352,Female,17.000000,1.600000,53.000000,no,yes,1.000000,3.000000,Sometimes,no,1.000000,no,2.000000,2.000000,Sometimes,Walking,Normal_Weight,Not Overweight
1668,Male,30.003358,1.758355,112.007101,yes,yes,1.750809,3.000000,Sometimes,no,2.002871,no,0.000000,0.114457,Sometimes,Automobile,Obesity_Type_II,Overweight
1127,Male,32.610018,1.742538,83.390983,yes,yes,2.247704,3.053598,Sometimes,no,1.919629,no,0.408023,0.000000,no,Automobile,Overweight_Level_II,Overweight
556,Male,18.000000,1.781543,50.869704,no,yes,2.052932,3.000000,Sometimes,no,2.000000,no,0.520408,1.000000,Sometimes,Public_Transportation,Insufficient_Weight,Not Overweight
328,Male,19.000000,1.740000,74.000000,yes,no,3.000000,1.000000,Sometimes,no,3.000000,no,3.000000,1.000000,Sometimes,Walking,Normal_Weight,Not Overweight
682,Female,19.007177,1.690727,49.895716,no,yes,1.212908,3.207071,Sometimes,no,1.029703,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight,Not Overweight
1206,Male,23.807181,1.729177,82.527240,yes,yes,2.742796,2.937607,Sometimes,no,1.994670,no,1.000000,0.023564,Sometimes,Public_Transportation,Overweight_Level_II,Overweight
1484,Female,37.471683,1.549812,76.082517,yes,yes,2.000000,2.765213,Sometimes,no,1.551266,no,1.350001,0.000000,Sometimes,Automobile,Obesity_Type_I,Overweight

In [22]:
df = df.drop('NObeyesdad', axis=1)

In [23]:
df.sample(5)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Status
395,Female,20.000000,1.540000,39.000000,yes,yes,1.000000,3.000000,Sometimes,no,2.000000,no,3.000000,2.000000,Sometimes,Public_Transportation,Not Overweight
534,Male,18.216032,1.755507,52.000000,yes,yes,3.000000,3.000000,Frequently,no,2.000000,no,0.658894,1.000000,no,Public_Transportation,Not Overweight
88,Female,22.000000,1.650000,65.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,yes,1.000000,0.000000,no,Automobile,Not Overweight
844,Female,21.687409,1.604697,68.016472,yes,yes,1.901611,3.266501,no,no,2.926995,no,0.985872,0.307982,Sometimes,Public_Transportation,Overweight
883,Female,33.251015,1.730379,75.920519,yes,yes,2.013782,2.625942,Sometimes,no,1.045586,no,0.553305,0.480214,Sometimes,Automobile,Overweight

In [25]:
# the column to analyze
column_name = 'Status'  # Replace 'Your_Column_Name' with the actual column name

# Get the unique non-numerical values and their counts in the specified column
unique_values_count = sampledData[column_name].value_counts()

# Get the total number of unique non-numerical values
total_unique_values = unique_values_count.shape[0]

print(f"Total unique non-numerical values in '{column_name}': {total_unique_values}")
print("Value counts:")
print(unique_values_count)

Total unique non-numerical values in 'Status': 2
Value counts:
Overweight        1552
Not Overweight     559
Name: Status, dtype: int64